body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9e909;
    color: #333;
    
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    
}

header h1 {
    margin: 0;
    font-size: 1.6rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
   
}

.section {
    padding: 10px 0;
}

.skills-grid, .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    
}

.skill, .project {
    background:#FDFFE2;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    margin: 5px;
    text-align: center;
    font-size: 0.9rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin: 5px 0 3px;
    font-size: 0.9rem;
}

#contact-form input, #contact-form textarea {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #FDFFE2;;
    border-radius: 5px;
    font-size: 0.9rem;
}

#contact-form button {
    padding: 8px;
    border: none;
    background: #b4acac;
    
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
}

#contact-form button:hover {
    background: #352323;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    font-size: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
